@font-face {
  font-family: 'Perpetua';
  src: url('/public/fonts/Perpetua.woff2') format('woff2'),
      url('/public/fonts/Perpetua.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
